<?php
/** @var TouchShop\Refund\Block\Refund $block */
?>
<link rel="stylesheet" type="text/css"
      href="<?php echo $block->getViewFileUrl("TouchShop_Basic::css/common.css") ?>">
<link rel="stylesheet" type="text/css"
      href="<?php echo $block->getViewFileUrl("TouchShop_Refund::css/refund.css") ?>">
<form action="<?php echo $block->getFormAction() ?>" method="post">
    <div class="banner">
        <div>
            <img src="<?php echo $block->getBaseImgUrl('monthlyview.png')?>" alt="">
            <p>30-Day Return</p>
            <p>for Any Reason</p>
        </div>
        <div>
            <img src="<?php echo $block->getBaseImgUrl('anquan.png')?>" alt="">
            <p>18-Month</p>
            <p>Warranty</p>
        </div>
        <div>
            <img src="<?php echo $block->getBaseImgUrl('editor2.png')?>" alt="">
            <p>Lifetime</p>
            <p>Technical Support</p>
        </div>
    </div>
    <div>
        <p>Thank you for visiting our after-sales self-service web page. Here, we hope that you will be able to resolve whatever problems you are experiencing. We're very sorry for whatever inconvenience your purchase may have caused you.</p>
        <p>Please kindly be advised that all of our Anker products come with a hassle-free warranty. You can find your precise warranty period on the literature inside the box or verify with our customer service team. If your product does not meet your needs during this period, please contact us via the feedback form below and let us know what we can do to help you.</p>
        <p>Moreover, as a reminder, if you are having trouble using one of our products, you can always refer to the FAQ or Instruction Manuals section on our website, where you may be able to resolve the issue yourself.</p>
        <p>Thank you in advance for all of the information you are providing.</p>
        <h4>Warranty Information Tips</h4>
        <p>Order ID: You can find this in your Amazon account's order history.</p>
        <p>Product Name: You can find this in your Amazon account's order history, as well as on the packaging or manual of the product. Some products come with a watermark showing the model number and/or name of the product.</p>
        <p>Refund or Exchange: Please enter your preference, and we will do our best to accommodate your needs.</p>
        <p>Reason for Request: Enter a short description of the problem here, e.g. "defective".</p>
        <p>Series No.: Depending on the product, the Series No. can be found on the main body of the product or on a charging cable that came with the product.</p>
    </div>
    <div class="refund-nav">
        <div class="active">Amazon</div>
    </div>
    <div class="input-container-title">Contact Information</div>
    <div class="input-container">
        <div class="input-container">
            <label for="email">Email Address <span>*</span></label>
            <input name="email" id="email" type="text">
        </div>
        <div class="input-container">
            <label for="name">Contact Name <span>*</span></label>
            <input name="name" id="name" type="text">
        </div>
    </div>

    <div class="input-container-title">Order Details</div>
    <div class="input-container">
        <label for="email">Order ID <span>*</span></label>
        <input name="email" id="email" type="text">
    </div>
    <div class="input-container">
        <label for="email">Product Name <span>*</span></label>
        <input name="email" id="email" type="text">
    </div>
    <div class="input-container">
        <div class="input-container">
            <label for="email">Refund or exchange <span>*</span></label>
            <input name="email" id="email" type="text">
        </div>
        <div class="input-container">
            <label for="name">Reason for request <span>*</span></label>
            <input name="name" id="name" type="text">
        </div>
    </div>
    <div class="input-container">
        <label for="name">Series No.: Located on the product as "SN: AXXXXXXX"</label>
        <input name="name" id="name" type="text">
    </div>

    <div class="input-container-title">Current Address</div>
    <div class="input-container">
        <div class="input-container">
            <label for="email">Address Line 1</label>
            <input name="email" id="email" type="text">
        </div>
        <div class="input-container">
            <label for="name">Address Line 2</label>
            <input name="name" id="name" type="text">
        </div>
    </div>
    <div class="input-container">
        <div class="input-container">
            <label for="email">Country</label>
            <input name="email" id="email" type="text">
        </div>
        <div class="input-container">
            <label for="name">State/Territor</label>
            <input name="name" id="name" type="text">
        </div>
    </div>
    <div class="input-container">
        <div class="input-container">
            <label for="email">City</label>
            <input name="email" id="email" type="text">
        </div>
        <div class="input-container">
            <label for="name">Zip Code</label>
            <input name="name" id="name" type="text">
        </div>
    </div>
    <div class="input-container">
        <label for="name">Phone Number</label>
        <input name="name" id="name" type="text">
    </div>
    <div class="input-container">
        <label class="label-b" for="name">Issue Details</label>
        <textarea name="detail" id="detail" cols="30" rows="10"></textarea>
    </div>
    <div class="input-container input-center-container">
        <button type="reset">RESET</button><button type="submit">SUBMIT</button>
    </div>
</form>