<?php
/** @var TouchShop\PowerUser\Block\PowerUser $block */
?>
<link rel="stylesheet" type="text/css"
      href="<?php echo $block->getViewFileUrl("TouchShop_Basic::css/common.css") ?>">
<link rel="stylesheet" type="text/css"
      href="<?php echo $block->getViewFileUrl("TouchShop_PowerUser::css/PowerUser.css") ?>">
<form action="<?php echo $block->getFormAction() ?>" method="post">
    <div class="power-user-banner">
        <img src="<?php echo $block->getBaseImgUrl('power-user-banner.jpg')?>" alt="">
    </div>
    <div class="input-container-title input-container-title-noBold">The fields marked <span>*</span> are required.</div>
    <div class="input-container-title">Power User Infomation</div>
    <div class="input-container">
        <label for="email">Username <span>*</span></label>
        <input name="email" id="email" type="text">
    </div>
    <div class="input-container">
        <label for="email">Email address <span>*</span></label>
        <input name="email" id="email" type="text">
    </div>
    <div class="input-container">
        <label for="email">Gender</label>
        <input name="email" id="email" type="text">
    </div>
    <div class="input-container">
        <label for="email">Country <span>*</span></label>
        <input name="email" id="email" type="text">
    </div>
    <div class="input-container">
        <label for="email">Amazon profile URL <span>*</span></label>
        <input name="email" id="email" type="text">
    </div>

    <div class="input-container-title">I actively contribute to or participate in (please include links to your posts):
        <span>*</span></div>
    <div class="input-container">
        <label for="email">Social media (Facebook, Twitter etc.)</label>
        <input name="email" id="email" type="text">
    </div>
    <div class="input-container">
        <label for="email">YouTube channel</label>
        <input name="email" id="email" type="text">
    </div>
    <div class="input-container">
        <label for="email">Blogs/Tech websites</label>
        <input name="email" id="email" type="text">
    </div>
    <div class="input-container">
        <label for="email">Deal forums</label>
        <input name="email" id="email" type="text">
    </div>
    <div class="input-container">
        <label for="email">Other websites</label>
        <input name="email" id="email" type="text">
    </div>

    <div class="input-container-title">We'd love to learn more about you so that we can offter products that are most
        relaevant to your interests.
    </div>
    <div class="input-container">
        <label for="email">I am interested in:</label>
        <div class="input-container input-container-full">
            <div class="input-checkbox-container">
                <div><input type="checkbox" name="interested" value="USB Hubs and Adapters"> USB Hubs and Adapters</div>
                <div><input type="checkbox" name="interested" value="Cell Phone Batteries"> Cell Phone Batteries</div>
                <div><input type="checkbox" name="interested" value="USB Wall/car Chargers"> USB Wall/car Chargers</div>
                <div><input type="checkbox" name="interested" value="Screen Protectors"> Screen Protectors</div>
                <div><input type="checkbox" name="interested" value="Phone/Tablet Cases"> Phone/Tablet Cases</div>
                <div><input type="checkbox" name="interested" value="Portable Chargers"> Portable Chargers</div>
                <div><input type="checkbox" name="interested" value="Phone/Laptop Batteries"> Phone/Laptop Batteries
                </div>
                <div><input type="checkbox" name="interested" value="Keyboards and Mice"> Keyboards and Mice</div>
                <div><input type="checkbox" name="interested" value="Audio Products"> Audio Products</div>
                <div><input type="checkbox" name="interested" value="Home Products"> Home Products</div>
            </div>
            <label for="email">Other</label>
            <input name="email" id="email" type="text">
        </div>
    </div>

    <div class="input-container">
        <label for="email" class="label label-b">I would identify myself as a(n):</label>
        <div class="input-container input-container-full">
            <div class="input-checkbox-container">
                <div><input type="checkbox" name="myself" value="USB Hubs and Adapters"> Average consumer</div>
                <div><input type="checkbox" name="myself" value="Cell Phone Batteries"> Tech sawy consumer</div>
                <div><input type="checkbox" name="myself" value="USB Wall/car Chargers"> Tech or gaming fanatic</div>
                <div><input type="checkbox" name="myself" value="Screen Protectors"> IT expert</div>
            </div>
        </div>
    </div>

    <div class="input-container">
        <label for="email" class="label label-b">How did you hear about the Power User program?</label>
        <div class="input-container input-container-full">
            <div class="input-checkbox-container">
                <div><input type="checkbox" name="myself" value="USB Hubs and Adapters"> Received a mailed invitation
                    card
                </div>
                <div><input type="checkbox" name="myself" value="Cell Phone Batteries"> Discovered the program on the
                    Anker wbsite
                </div>
                <div><input type="checkbox" name="myself" value="USB Wall/car Chargers"> Read about the program
                    elsewhere online
                </div>
                <div><input type="checkbox" name="myself" value="Screen Protectors"> Leamed about it from a friend</div>
            </div>
            <label for="email">Other</label>
            <input name="email" id="email" type="text">
        </div>
    </div>

    <div class="input-container">
        <label for="email" class="label label-b">My device</label>
        <div class="input-container input-container-full">
            <div class="input-checkbox-container input-checkbox-float">
                <div>
                    <input type="checkbox" name="device" value="iphone_x">
                    <!-- react-text: 632 -->
                    <!-- /react-text -->
                    <!-- react-text: 633 -->iPhone X
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="iphone_8_plus">
                    <!-- react-text: 637 -->
                    <!-- /react-text -->
                    <!-- react-text: 638 -->iPhone 8 plus
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="iphone_8">
                    <!-- react-text: 642 -->
                    <!-- /react-text -->
                    <!-- react-text: 643 -->iPhone 8
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="iphone_7_plus">
                    <!-- react-text: 647 -->
                    <!-- /react-text -->
                    <!-- react-text: 648 -->iPhone 7 plus
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="iphone_7">
                    <!-- react-text: 652 -->
                    <!-- /react-text -->
                    <!-- react-text: 653 -->iPhone 7
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="iphone_6s_plus">
                    <!-- react-text: 657 -->
                    <!-- /react-text -->
                    <!-- react-text: 658 -->iPhone 6s plus
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="iphone_6s">
                    <!-- react-text: 662 -->
                    <!-- /react-text -->
                    <!-- react-text: 663 -->iPhone 6s
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="iphone_6_plus">
                    <!-- react-text: 667 -->
                    <!-- /react-text -->
                    <!-- react-text: 668 -->iPhone 6 plus
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="iphone_6">
                    <!-- react-text: 672 -->
                    <!-- /react-text -->
                    <!-- react-text: 673 -->iPhone 6
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="iphone_5s">
                    <!-- react-text: 677 -->
                    <!-- /react-text -->
                    <!-- react-text: 678 -->iPhone 5s
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="ipad_pro_12.9">
                    <!-- react-text: 683 -->
                    <!-- /react-text -->
                    <!-- react-text: 684 -->iPad Pro 12.9(2017)
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="ipad_pro_10.5">
                    <!-- react-text: 688 -->
                    <!-- /react-text -->
                    <!-- react-text: 689 -->iPad Pro 10.5
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="ipad_pro_9.7">
                    <!-- react-text: 693 -->
                    <!-- /react-text -->
                    <!-- react-text: 694 -->iPad Pro 9.7
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="ipad_air_2">
                    <!-- react-text: 698 -->
                    <!-- /react-text -->
                    <!-- react-text: 699 -->iPad Air 2
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="ipad_mini_4">
                    <!-- react-text: 703 -->
                    <!-- /react-text -->
                    <!-- react-text: 704 -->iPad mini 4
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="ipad_mini_3">
                    <!-- react-text: 708 -->
                    <!-- /react-text -->
                    <!-- react-text: 709 -->iPad mini 3
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="ipad_mini_2">
                    <!-- react-text: 713 -->
                    <!-- /react-text -->
                    <!-- react-text: 714 -->iPad mini 2
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="samsung_galaxy_tab_a_8.0">
                    <!-- react-text: 719 -->
                    <!-- /react-text -->
                    <!-- react-text: 720 -->Galaxy Tab A 8.0(2017)
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="samsung_galaxy_c7">
                    <!-- react-text: 724 -->
                    <!-- /react-text -->
                    <!-- react-text: 725 -->Galaxy C7(2017)
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="samsung_galaxy_note8">
                    <!-- react-text: 729 -->
                    <!-- /react-text -->
                    <!-- react-text: 730 -->Galaxy Note8
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="samsung_galaxy_s8">
                    <!-- react-text: 734 -->
                    <!-- /react-text -->
                    <!-- react-text: 735 -->Galaxy S8
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="samsung_galaxy_s8+">
                    <!-- react-text: 739 -->
                    <!-- /react-text -->
                    <!-- react-text: 740 -->Galaxy S8+
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="samsung_galaxy_j7_v">
                    <!-- react-text: 744 -->
                    <!-- /react-text -->
                    <!-- react-text: 745 -->Galaxy J7 V
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="samsung_galaxy_j7_max">
                    <!-- react-text: 749 -->
                    <!-- /react-text -->
                    <!-- react-text: 750 -->Galaxy J7 Max
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="samsung_galaxy_j7_pro">
                    <!-- react-text: 754 -->
                    <!-- /react-text -->
                    <!-- react-text: 755 -->Galaxy J7 Pro
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="pixel2">
                    <!-- react-text: 760 -->
                    <!-- /react-text -->
                    <!-- react-text: 761 -->Pixel 2
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="pixel2_xl">
                    <!-- react-text: 765 -->
                    <!-- /react-text -->
                    <!-- react-text: 766 -->Pixel 2 XL
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="pixel_xl">
                    <!-- react-text: 770 -->
                    <!-- /react-text -->
                    <!-- react-text: 771 -->Pixel XL
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="pixel">
                    <!-- react-text: 775 -->
                    <!-- /react-text -->
                    <!-- react-text: 776 -->Pixel
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="huawei_honor_v9_play">
                    <!-- react-text: 781 -->
                    <!-- /react-text -->
                    <!-- react-text: 782 -->Honor V9 Play
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="huawei_Honor_9">
                    <!-- react-text: 786 -->
                    <!-- /react-text -->
                    <!-- react-text: 787 -->Honor 9
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="huawei_p9_lite_mini">
                    <!-- react-text: 791 -->
                    <!-- /react-text -->
                    <!-- react-text: 792 -->P9 lite mini
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="huawei_y7_prime">
                    <!-- react-text: 796 -->
                    <!-- /react-text -->
                    <!-- react-text: 797 -->Huawei Y7 Prime
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="huawei_others">
                    <!-- react-text: 801 -->
                    <!-- /react-text -->
                    <!-- react-text: 802 -->Others
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="amazon_echo">
                    <!-- react-text: 807 -->
                    <!-- /react-text -->
                    <!-- react-text: 808 -->Amazon Echo
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="echo_show">
                    <!-- react-text: 812 -->
                    <!-- /react-text -->
                    <!-- react-text: 813 -->Echo Show
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="echo_dot">
                    <!-- react-text: 817 -->
                    <!-- /react-text -->
                    <!-- react-text: 818 -->Echo Dot
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="google_home">
                    <!-- react-text: 822 -->
                    <!-- /react-text -->
                    <!-- react-text: 823 -->Google Home
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="eufy_genie">
                    <!-- react-text: 827 -->
                    <!-- /react-text -->
                    <!-- react-text: 828 -->Eufy Genie
                    <!-- /react-text -->
                </div>
                <div>
                    <input type="checkbox" name="device" value="other">
                    <!-- react-text: 832 -->
                    <!-- /react-text -->
                    <!-- react-text: 833 -->Other
                    <!-- /react-text -->
                </div>
            </div>
        </div>
    </div>
    <div class="input-container small-button text-right input-center-container">
        <button type="reset">RESET</button><button type="submit">SUBMIT</button>
    </div>
</form>