<?php
    /** @var TouchShop\Touch1byone\Block\Follow $block */
?>
<div class="follow">
    <p>By clicking 'Subscribe'</p>
    <p>you agree to the Terms of Use and Privacy Policy.</p>
    <div class="link">
        <a class="facebook" href="https://www.facebook.com/pages/1byone/607592529265903">
            <img src="<?php echo $block->getImgBaseUrl('facebook.png') ?>" alt="">
        </a>
        <a class="twitter" href="https://twitter.com/Ash79994385">
            <img src="<?php echo $block->getImgBaseUrl('twitter.png') ?>" alt="">
        </a>
        <a class="youtube" href="https://www.youtube.com/c/1BYONE88">
            <img src="<?php echo $block->getImgBaseUrl('youtube.png') ?>" alt="">
        </a>
    </div>
</div>